body {
    font-family: arial, sans-serif
}

/* -----------------------------------
NAV: INTERACTIVE MENU
-------------------------------------*/

nav {
    font-weight: bold;
    color: white;
    border: 2px solid royalblue;
    width: 10em;
    background-color: royalblue;
}

nav ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav:hover ul {
    display: block
}

nav ul li {
    border-top: 2px solid royalblue;
    background-color: white;
    width: 10em;
    color: black;
}

nav ul li:hover {
    background-color: powderblue;
}

a {
    text-decoration: none;
    color: royalblue;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* -----------------------------------
MAIN: SET TO TWO COLUMNS 
-------------------------------------*/
main {
    display: grid;
    justify-items: center;
}