body{
    background: url('../images/loginBackground.jpg');
    background-size: cover;
    background-position: center;
}

.login-box{
    max-height: 700px;
    float: none;
    margin: 150px auto;
}

.login-left{
    background: rgba(211,211,211, 0.5);
    padding: 50px;
}

.login-right{
    background: rgba(211,211,211, 0.8);
    padding: 50px;
}



