@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;400;700&display=swap');
@import "../styles/nav.css";
@import "../styles/homepage.css";
@import "../styles/dynamic-page.css";
/* -----------------------------------
UNIVERSAL (HOMEPAGE+)
-------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    max-width: 100vw;
    font-size: 16px;
    font-family: 'Public Sans', sans-serif;
}

body.sidebar-navigation {
    display: grid;
    grid-template-columns: 13rem auto;
}

main {
    max-width: 100%;
}

section.single-column {
    display: grid;
    grid-template-columns: auto;
}

/** ------------------------------------------------
* SECTION: USER CONTROLS
* -------------------------------------------------*/

section#user-controls-section {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    background-color: #e67300;
}

div#user-controls {
    width: 100%;
    height: 2.618rem;
    padding: 0.618rem;
    background-color: #000000;
    color: white;
}

button#indicator-favorite {
    text-shadow: none;
    background-color: transparent;
    font-size: 3rem;
    border: 1px solid transparent;
}

a.profile-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

input.universal-login-button {
    padding: 0.618rem 1.618rem;
    background-color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 0.342rem;
    color: #333;
    font-weight: bold;
}

/* -----------------------------------
RESPONSIVE CODE
-------------------------------------*/

/* phones (portrait) */

@media only screen and (max-width: 767px) and (orientation: portrait) {
    body.sidebar-navigation {
        display: grid;
        grid-template-columns: auto;
    }
}

/* phones (landscape) */

@media only screen and (max-width: 767px) and (orientation: landscape) {
    body.sidebar-navigation {
        display: grid;
        grid-template-columns: auto;
    }
}

/* tablets (portrait) */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body.sidebar-navigation {
        display: grid;
        grid-template-columns: auto;
    }
}

/* desktop and tablets (landscape) */

@media only screen and (min-width: 1025px) {

}

.table tr td{
    cursor: pointer;
}
