/* -----------------------------------
NAV: INTERACTIVE MENU
-------------------------------------*/

aside {
    z-index: 1;
}

nav {
    font-weight: bold;
    color: white;
    border: 2px solid #e67300;
    width: 13rem;
    background-color: #e67300;
    height: 2.618rem;
    padding: 0.618rem;
}

nav ul {
    display: none;
    list-style: none;
    margin-top: 0.7rem;
    margin-left: -0.7rem;
    padding: 0;
}

nav:hover ul {
    display: block;
}

nav ul li {
    border-top: 2px solid #e67300;
    background-color: white;
    width: 13rem;
    color: black;
    padding: 0.618rem;
}

nav ul li:hover {
    background-color: #fff2e6;
}

a {
    text-decoration: none;
    color: #e67300;
}

/* -----------------------------------
RESPONSIVE CODE
-------------------------------------*/

/* phones (portrait) */

@media only screen and (max-width: 767px) and (orientation: portrait) {
    nav {
        width: 100vw;
    }
}

/* phones (landscape) */

@media only screen and (max-width: 767px) and (orientation: landscape) {
    nav {
        width: 100vw;
    }
}

/* tablets (portrait) */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    nav {
        width: 100vw;
    }
}

/* desktop and tablets (landscape) */

@media only screen and (min-width: 1025px) {

}