html {
    background-color: rgba(82, 101, 143, 0.1) !important;
}

nav, nav.theme-control, #user-controls {
    background-color: rgba(82, 101, 143, 1.0) !important;
    border: 0px solid transparent !important;
}