html, body {
    background-color: rgba(82, 101, 143, 0.1) !important;
}

nav, #theme-control-dark, #user-controls, .navbar, .navbar-inverse, .bg-dark {
    background-color: rgba(82, 101, 143, 1.0) !important;
    border: 0px solid transparent !important;
}